@font-face{
    font-family: 'DINRoundPro';
    src: url('DINRoundPro.ttf');
}



.socslingo-logo-name {
    -fx-font-size: 46px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.10), 0, 0, 0, 1);
    -fx-padding: 15px 0px 5px 0px; /* Top, Right, Bottom, Left */
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-text-fill: #FFD681;
}

.left-sidebar-button-active{
    -fx-background-color: #ffd681;
    -fx-pref-width: 222px;
    -fx-border-color: #ffc44b;
    -fx-pref-height: 52px;
    -fx-border-width: 2; /* Outline width */
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 0px 0px 0px 20px; /* Top, Right, Bottom, Left */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-font-size: 17px;
    -fx-line-spacing: 5%;
    -fx-line-height: 24px;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-line-height: 1.5;
}

.left-sidebar-button{
    -fx-background-color: #ffffff;
    -fx-pref-width: 222px;
    -fx-pref-height: 52px;
    -fx-border-width: 2; /* Outline width */
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 0px 0px 0px 20px; /* Top, Right, Bottom, Left */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-font-size: 17px;
    -fx-line-spacing: 5%;
    -fx-line-height: 24px;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-line-height: 1.5;
}
.left-sidebar-button:hover{
    -fx-background-color: #efefef; 
    -fx-pref-width: 222px;
    -fx-pref-height: 52px;
    -fx-border-width: 2; /* Outline width */
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 0px 0px 0px 20px; /* Top, Right, Bottom, Left */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-font-size: 17px;
    -fx-line-spacing: 5%;
    -fx-line-height: 24px;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-line-height: 1.5;
}

.left-sidebar-button-selected{
    -fx-background-color: #f5d78e; 
    -fx-pref-width: 222px;
    -fx-pref-height: 52px;
    -fx-border-color: #f2c868; /* Outline color */
    -fx-border-width: 2; /* Outline width */
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 0px 0px 0px 20px; /* Top, Right, Bottom, Left */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-font-size: 17px;
    -fx-line-spacing: 5%;
    -fx-line-height: 24px;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-line-height: 1.5;


}

.left-sidebar-column{
    -fx-border-color: #e5e5e5;
    -fx-border-width: 0 1px 0 0; /* Top, Right, Bottom, Left */

    -fx-background-color: #ffffff;

}

.middle-column{
    -fx-background-color: #ffffff;

}

.first-time-flashcard-text{
    -fx-font-size: 24px;
    -fx-text-fill: #292936;
    -fx-font-weight: bold;
}

.first-time-flashcard-page {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.20), 4, 0, 0, 0);
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-pref-height: 800px;
    -fx-border-width: 0;
    -fx-padding: 50px; /* Top, Right, Bottom, Left */
    -fx-spacing: 50px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}


.create-flash-card-button{
    -fx-background-color: #f5d78e; 
    -fx-pref-width: 190px;
    -fx-pref-height: 45px;
    -fx-border-color: #f2c868; /* Outline color */
    -fx-border-width: 2; /* Outline width */
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-font-size: 17px;
    -fx-line-spacing: 5%;
    -fx-line-height: 24px;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-line-height: 1.5;

}
.create-flash-card-button:hover{
    -fx-background-color: #f7dfa3; 

}

.deck-name-text-field{
    -fx-pref-width: 347px;
    -fx-pref-height: 44px;
    -fx-font-size: 20px;
    -fx-border-color: #e5e5e5;
    -fx-border-width: 2px; /* Top, Right, Bottom, Left */
    -fx-padding: 8px 14px 8px 14px;
    -fx-background-color: #f7f7f7;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-background-color: #f7f7f7; /* Light grey */
}

.back-of-card-text-field{
    -fx-pref-width: 347px;
    -fx-pref-height: 44px;
    -fx-font-size: 20px;
    -fx-border-color: #e5e5e5;
    -fx-border-width: 2px; /* Top, Right, Bottom, Left */
    -fx-padding: 8px 14px 8px 14px;
    -fx-background-color: #f7f7f7;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-background-color: #f7f7f7; /* Light grey */
}



.flashcard-label{
    -fx-pref-width: 800px;
    -fx-pref-height: 500px;
    -fx-font-size: 32px;
    -fx-border-color: #e5e5e5;
    -fx-border-width: 2px; /* Top, Right, Bottom, Left */
    -fx-padding: 8px 14px 8px 14px;
    -fx-background-color: #f7f7f7;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-color: #f7f7f7; /* Light grey */
}

.generic-button-medium{
    -fx-background-color: #FFD580; 
    -fx-text-fill: #ffffff;
    -fx-pref-width: 168px;
    -fx-pref-height: 48px;
    -fx-border-color: #F9C969; /* Outline color */
    -fx-border-width: 0px 0px 2px 0px; /* Outline width */
    -fx-background-radius: 12px; /* Rounded corners */
    -fx-border-radius: 12px; /* Rounded corners */
    -fx-font-size: 15px;
    -fx-line-spacing: 0.8px;
    -fx-border-style: solid; 
    -fx-line-height: 18px;
    -fx-font-family: 'DINRoundPro';
    -fx-cursor: hand;
}

.generic-button-medium-large{
    -fx-background-color: #FFD580; 
    -fx-text-fill: #ffffff;
    -fx-pref-width: 203px;
    -fx-pref-height: 48px;
    -fx-border-color: #F9C969; /* Outline color */
    -fx-border-width: 0px 0px 2px 0px; /* Outline width */
    -fx-background-radius: 12px; /* Rounded corners */
    -fx-border-radius: 12px; /* Rounded corners */
    -fx-font-size: 15px;
    -fx-line-spacing: 0.8px;
    -fx-border-style: solid; 
    -fx-line-height: 18px;
    -fx-font-family: 'DINRoundPro';
    -fx-cursor: hand;
}
.generic-button-medium:pressed{
    -fx-border-width: 0px 0px 0px 0px; /* Outline width */
    -fx-translate-y: 2px; /* Move the button downwards */
}

.generic-button-medium:hover{
    -fx-background-color: #ffdb94;
}


.text-field.editing-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: inherit;
    -fx-font: inherit;
}


.deck-title{
    -fx-font-size: 36px;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-text-fill: #FFD681;
}

.list-view {
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-background-color: white; /* Ensure background is white or desired color */
}

/* Style when a drag is over the ListView */
.list-view.drag-over {
    -fx-border-color: #66afe9; /* Highlight border color */
    -fx-border-width: 2px;
    -fx-background-color: #e6f7ff; /* Light blue background to indicate drop zone */
}