@font-face{
    font-family: 'DINRoundPro';
    src: url('DINRoundPro.ttf');
}

.socslingo-logo-name {
    -fx-font-size: 46px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.10), 0, 0, 0, 1);
    -fx-padding: 15px 0px 5px 0px; /* Top, Right, Bottom, Left */
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-text-fill: #FFD681;
}

.left-sidebar-button-active{
    -fx-background-color: #ffd681;
    -fx-pref-width: 222px;
    -fx-border-color: #ffc44b;
    -fx-pref-height: 52px;
    -fx-border-width: 2; /* Outline width */
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 0px 0px 0px 20px; /* Top, Right, Bottom, Left */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-font-size: 17px;
    -fx-line-spacing: 5%;
    -fx-line-height: 24px;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-line-height: 1.5;
}

.left-sidebar-button{
    -fx-background-color: #ffffff;
    -fx-pref-width: 222px;
    -fx-pref-height: 52px;
    -fx-border-width: 2; /* Outline width */
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 0px 0px 0px 20px; /* Top, Right, Bottom, Left */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-font-size: 17px;
    -fx-line-spacing: 5%;
    -fx-line-height: 24px;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-line-height: 1.5;
}
.left-sidebar-button:hover{
    -fx-background-color: #efefef; 
    -fx-pref-width: 222px;
    -fx-pref-height: 52px;
    -fx-border-width: 2; /* Outline width */
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 0px 0px 0px 20px; /* Top, Right, Bottom, Left */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-font-size: 17px;
    -fx-line-spacing: 5%;
    -fx-line-height: 24px;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-line-height: 1.5;
}

.left-sidebar-button-selected{
    -fx-background-color: #f5d78e; 
    -fx-pref-width: 222px;
    -fx-pref-height: 52px;
    -fx-border-color: #f2c868; /* Outline color */
    -fx-border-width: 2; /* Outline width */
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 0px 0px 0px 20px; /* Top, Right, Bottom, Left */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-font-size: 17px;
    -fx-line-spacing: 5%;
    -fx-line-height: 24px;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-line-height: 1.5;


}

.left-sidebar-column{
    -fx-border-color: #e5e5e5;
    -fx-border-width: 0 1px 0 0; /* Top, Right, Bottom, Left */

    -fx-background-color: #ffffff;

}

.middle-column{

    -fx-alignment: center;
    -fx-background-color: #ffffff;

}

.first-time-flashcard-text{
    -fx-font-size: 24px;
    -fx-text-fill: #292936;
    -fx-font-weight: bold;
}

/* 
 * -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.20), 4, 0, 5, 5);
 * dropshadow: The type of shadow effect.
 * gaussian: The blur algorithm used for the shadow.
 * rgba(0, 0, 0, 0.20): The color of the shadow in RGBA format (black with 20% opacity).
 * 4: The radius of the shadow blur.
 * 0: The spread of the shadow (0 means no spread).
 * 5: The horizontal offset of the shadow.
 * 5: The vertical offset of the shadow.
 */
.first-time-flashcard-page {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.20), 4, 0, 0, 0);
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-pref-height: 800px;
    -fx-pref-width: 1200px;
    -fx-border-width: 0;
    -fx-padding: 50px; /* Top, Right, Bottom, Left */
    -fx-spacing: 50px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.flash-card-generic-button{
    -fx-background-color: #f5d78e; 
    -fx-pref-width: 190px;
    -fx-pref-height: 45px;
    -fx-border-color: #f2c868; /* Outline color */
    -fx-border-width: 1.5; /* Outline width */
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-font-size: 17px;
    -fx-line-spacing: 5%;
    -fx-line-height: 24px;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-line-height: 1.5;

}
.flash-card-generic-button:hover{
    -fx-background-color: #f7dfa3; 

}



.generic-button-medium{
    -fx-background-color: #FFD580; 
    -fx-text-fill: #ffffff;
    -fx-pref-width: 168px;
    -fx-pref-height: 48px;
    -fx-border-color: #FFC44D; /* Outline color */
    -fx-border-width: 0px 0px 2px 0px; /* Outline width */
    -fx-background-radius: 12px; /* Rounded corners */
    -fx-border-radius: 12px; /* Rounded corners */
    -fx-font-size: 15px;
    -fx-line-spacing: 0.8px;
    -fx-line-height: 18px;
    -fx-font-family: 'DINRoundPro';
    -fx-cursor: hand;
}

.generic-button-medium:pressed{
    -fx-border-width: 0px 0px 0px 0px; /* Outline width */
    -fx-translate-y: 2px; /* Move the button downwards */
}

