@font-face {
    font-family: 'DINRoundPro-Bold';
    src: url('../fonts/DIN_ROUND/ff-din-round-bold.otf');
}

@font-face {
    font-family: 'DINRoundPro';
    src: url('../fonts/DIN_ROUND/ff-din-round-regular.otf');
}

@font-face {
    font-family: 'DINRoundPro-Medi';
    src: url('../fonts/DIN_ROUND/ff-din-round-medium.otf');
}

@font-face {
    font-family: 'DINRoundPro-Light';
    src: url('../fonts/DIN_ROUND/ff-din-round-light.otf');
}

@font-face {
    font-family: 'DINRoundPro-Black';
    src: url('../fonts/DIN_ROUND/ff-din-round-black.otf');
}

@font-face {
    font-family: 'DINNextW10-Heavy';
    src: url('../fonts/DIN_NEXT_W10/DINNextW10Heavy.ttf');
}




.based-background{
    -fx-background-color: #ffffff;
}

.left-sidebar-column{
    -fx-border-color: #e5e5e5;
    -fx-border-width: 2;

    -fx-background-color: #ffffff;

}

.middle-column{


    -fx-background-color: #ffffff;

}

.right-sidebar-column{
    -fx-border-color: #e5e5e5;
    -fx-border-width: 2;
    -fx-background-color: #ffffff;

}


.right-sidebar-task-label{
    -fx-font-size: 46px;
    -fx-padding: 15px 0px 0px 25px; /* Top, Right, Bottom, Left */
    -fx-font-weight: bold;
    -fx-text-fill: #FFD681;
}
.right-sidebar-tile {
    -fx-background-color: #ffffff;
    -fx-border-color: #e5e5e5;
    -fx-pref-width: 310;
    -fx-pref-height: 250px;
    -fx-border-width: 2;
    -fx-padding: 15px 15px 25px 30px; /* Top, Right, Bottom, Left */
    -fx-spacing: 50px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}