@font-face{
    font-family: 'DINRoundPro';
    src: url('DINRoundPro.ttf');
}



.socslingo-logo-name {
    -fx-font-size: 46px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.10), 0, 0, 0, 1);
    -fx-padding: 15px 0px 5px 0px; /* Top, Right, Bottom, Left */
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-text-fill: #FFD681;
}

.left-sidebar-button{
    -fx-background-color: #ffffff;
    -fx-pref-width: 222px;
    -fx-pref-height: 52px;
    -fx-border-width: 2; /* Outline width */
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 0px 0px 0px 20px; /* Top, Right, Bottom, Left */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-font-size: 17px;
    -fx-line-spacing: 5%;
    -fx-line-height: 24px;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-line-height: 1.5;
}
.left-sidebar-button:hover{
    -fx-background-color: #efefef; 
    -fx-pref-width: 222px;
    -fx-pref-height: 52px;
    -fx-border-width: 2; /* Outline width */
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 0px 0px 0px 20px; /* Top, Right, Bottom, Left */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-font-size: 17px;
    -fx-line-spacing: 5%;
    -fx-line-height: 24px;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-line-height: 1.5;
}

.left-sidebar-button-selected{
    -fx-background-color: #f5d78e; 
    -fx-pref-width: 222px;
    -fx-pref-height: 52px;
    -fx-border-color: #f2c868; /* Outline color */
    -fx-border-width: 2; /* Outline width */
    -fx-text-fill: rgb(0, 0, 0);
    -fx-padding: 0px 0px 0px 20px; /* Top, Right, Bottom, Left */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-font-size: 17px;
    -fx-line-spacing: 5%;
    -fx-line-height: 24px;
    -fx-font-family: 'DINRoundPro';
    -fx-font-weight: bold;
    -fx-line-height: 1.5;


}

.left-sidebar-column{
    -fx-border-color: #e5e5e5;
    -fx-border-width: 2;

    -fx-background-color: #ffffff;

}

.middle-column{


    -fx-background-color: #ffffff;

}

.right-sidebar-column{
    -fx-border-color: #e5e5e5;
    -fx-border-width: 2;
    -fx-background-color: #ffffff;

}


.right-sidebar-task-label{
    -fx-font-size: 46px;
    -fx-padding: 15px 0px 0px 25px; /* Top, Right, Bottom, Left */
    -fx-font-weight: bold;
    -fx-text-fill: #FFD681;
}
.right-sidebar-tile {
    -fx-background-color: #ffffff;
    -fx-border-color: #e5e5e5;
    -fx-pref-width: 310;
    -fx-pref-height: 250px;
    -fx-border-width: 2;
    -fx-padding: 15px 15px 25px 30px; /* Top, Right, Bottom, Left */
    -fx-spacing: 50px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}